html {
  font-size: 62.5%;
  font-family: 'Roboto Slab', 'Noto Sans JP', serif;
}

body {
  color: $cBase;
  font-size: 2rem;
  line-height: 2;
}

img {
  max-width: 100%;
}

a,
button {
  outline: none;
  color: $cBase;
}

span {
  display: inline-block;
}

#app {
  position: relative;
  overflow: hidden;
}
