.char-animation {
  & .char {
    opacity: 0;
  }

  &.inview {
    opacity: 1;

    & .char {
      @include animation(
        $name: chars-animation,
        $duration: 0.7s,
        $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
        $fill-mode: both
      );

      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.04s;
        }
      }
    }
  }
}
