// ***** footer *****
.footer {
  height: 170px;
  background-color: $cBackGround;
  color: $cWhite;
  text-align: center;

  &__nav {
    @extend .pt-sm;

    &__link {
      color: $cWhite;
    }
  }
  &__copy {
    @extend .pt-sm;
  }
}
