// **** homeページのスライド ****

.mv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100vh;

  &__canvas {
    background: linear-gradient(
      rgb(237, 237, 237),
      rgb(238, 238, 238),
      rgb(237, 237, 237)
    );

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      display: block;
      background-color: rgb(160, 160, 160);
      content: '';
      opacity: 0.4;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: $cWhite;
    text-align: center;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: $title;
    line-height: 3;
    transform: translate(-50%, -50%);
  }
}

.contents {
  margin-top: 82vh;
  background-color: rgb(79, 93, 119);

  @extend .pb-lg;
  @extend .pt-lg;
}

.our {
  display: flex;
  height: 400px;

  @extend .max-width;
  @extend .mb-slg;

  &__title {
    letter-spacing: $letterSpace;
    font-size: $subTitle;
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__textArea {
    flex-basis: 50%;
    order: 2;
    position: relative;
    z-index: 100;
  }

  &__text-inner {
    position: absolute;
    top: 20%;
    left: -10%;
    color: $cWhite;
  }

  &__imgArea {
    flex-basis: 50%;
    order: 1;
    height: 100%;
  }

  &__title,
  &__text {
    text-align: center;
    @extend .pt-sm;
  }

  &__text {
    margin: 0 auto 25px;
    width: 90%;
  }
}

.servi {
  position: relative;

  &__outer {
    display: flex;
    height: 410px;

    @extend .max-width;
    @extend .mb-slg;
  }

  &__textArea {
    flex-basis: 50%;
    position: relative;
    z-index: 100;
  }

  &__text-inner {
    position: absolute;
    top: 16%;
    right: -10%;
    color: $cWhite;
  }

  &__title,
  &__text {
    text-align: center;

    @extend .pt-sm;
  }

  &__title {
    letter-spacing: $letterSpace;
    font-size: $subTitle;
  }

  &__text {
    margin: 0 auto 25px;
    width: 90%;
  }

  &__imgArea {
    flex-basis: 50%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__company {
    position: absolute;
    top: -30%;
    left: 1%;
  }

  &__company__text {
    font-family: serif;
    line-height: 1;
    font-size: 5rem;
    opacity: 0;
    color: white;
  }
}

.news {
  display: flex;
  height: 400px;

  @extend .max-width;
  @extend .mb-slg;

  &__title {
    letter-spacing: $letterSpace;
    font-size: $subTitle;
  }

  &__textArea {
    flex-basis: 50%;
    order: 2;
    position: relative;
    z-index: 100;
  }

  &__text-inner {
    position: absolute;
    top: 20%;
    left: -10%;
    color: $cWhite;
  }

  &__title,
  &__text {
    text-align: center;

    @extend .pt-sm;
  }

  &__text {
    margin: 0 auto 25px;
    width: 90%;
  }

  &__button {
    text-align: center;

    @extend .pb-sm;
  }

  &__imgArea {
    flex-basis: 50%;
    order: 1;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 15px;
    border: 1px solid $cBase;
    letter-spacing: $letterSpace;
    transition: all 0.4s ease;

    &:hover {
      border-radius: 10px;
      background-color: $cBlack;
      color: $cWhite;
    }

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      color: $cBlack;
      content: '×';
      font-size: 4rem;
      opacity: 0;
      transition: opacity 0.6s ease, transform 0.4s ease, z-index 0.3s ease;
      transform: translate(-50%, -50%);
    }

    &:hover::after {
      z-index: 0;
      opacity: 1;
      transform: translate(400%, -50%) rotate(180deg);
    }
    &:hover::before {
      z-index: 0;
      opacity: 1;
      transform: translate(-500%, -50%) rotate(-180deg);
    }
  }
}

// GSAPの初期値のスタイル
.our__text,
.servi__text,
.news__text,
.our__button,
.servi__button {
  opacity: 0;
}
