// **** imgスライド用スタイル ****
.cover-slide {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    z-index: 10;
    background-color: rgb(192, 192, 192);
  }
  // inviewした時の背景カバーアニメ
  &.inview {
    &::before {
      @include animation($name: slide-anima);
    }
  }
}

// inviewした時、画像のアニメーション
.img {
  opacity: 0;
  .inview & {
    @include animation($name: fade-anima);
  }
}

@keyframes slide-anima {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes fade-anima {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}
// <slide終了>
