// **** Serviceページのスタイル *****
// Three.js関連

.service__canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
}

.service {
  text-align: center;

  &__title {
    position: relative;
    display: inline-block;
    text-align: center;
    letter-spacing: $letterSpace;
    font-size: $title;
    @extend .mb-sm;
  }
}

@keyframes chars-animation {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.product {
  position: relative;
  width: 100%;
  height: 400px;

  @extend .max-width;
  @extend .mb-lg;

  &__textArea {
    position: relative;
    z-index: 20;
    text-shadow: 5px 5px 6px rgb(123, 123, 123);

    @extend .pb-lg;
    @extend .pt-lg;
  }

  &__text {
    background-color: rgba(79, 93, 119, 0.4);
  }

  &__img-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img {
    // img要素の擬似要素は使えない
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__title {
    color: $cWhite;
    font-size: $title;

    @extend .mb-sm;
  }

  &__text {
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    border: 1px solid $cWhite;
    color: $cWhite;
  }
}

.ses {
  position: relative;

  @extend .max-width;
  @extend .mb-lg;

  &__textArea {
    position: relative;
    z-index: 100;
    text-shadow: 5px 5px 6px rgb(123, 123, 123);

    @extend .pb-lg;
    @extend .pt-lg;
  }

  &__text {
    background-color: rgba(79, 93, 119, 0.4);
  }

  &__img-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__title {
    color: $cWhite;
    font-size: $title;

    @extend .mb-sm;
  }

  &__text {
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    border: 1px solid $cWhite;
    color: $cWhite;
  }
}

.contract {
  position: relative;

  @extend .max-width;
  @extend .mb-lg;

  &__textArea {
    position: relative;
    z-index: 100;
    text-shadow: 5px 5px 6px rgb(123, 123, 123);

    @extend .pb-lg;
    @extend .pt-lg;
  }

  &__text {
    background-color: rgba(79, 93, 119, 0.4);
  }

  &__img-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__title {
    color: $cWhite;
    font-size: $title;

    @extend .mb-sm;
  }

  &__text {
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    border: 1px solid $cWhite;
    color: $cWhite;
  }
}

.overseas {
  position: relative;

  @extend .max-width;
  @extend .mb-lg;

  &__textArea {
    position: relative;
    z-index: 100;
    text-shadow: 5px 5px 6px rgb(123, 123, 123);

    @extend .pb-lg;
    @extend .pt-lg;
  }

  &__text {
    background-color: rgba(79, 93, 119, 0.4);
  }

  &__img-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__title {
    color: $cWhite;
    font-size: $title;

    @extend .mb-sm;
  }

  &__text {
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    border: 1px solid $cWhite;
    color: $cWhite;
  }
}

.product__text,
.ses__text,
.contract__text,
.overseas__text {
  opacity: 0;
}
