.service,
.our,
.news {
  flex-direction: column;
}

.mv {
  &__text {
    font-size: 2.2rem;
    width: 95%;
    margin: 0 auto;
  }
}

body {
  font-size: 1.6rem;
}

.header__logo {
  width: 130px;
}

//タイトル文字調整
.our__title,
.service__title,
.news__title,
.Service__title,
.product__title,
.ses__title,
.overseas__title,
.contract__title,
.top__title,
.table__title,
.form__title {
  font-size: $subTitle600Down;
}

// **** Home ***
.contents {
  padding: 0px;
}

.our {
  margin-bottom: 0px;
  &__imgArea {
    order: 2;
  }

  &__textArea {
    order: 1;
  }
}

.service {
  margin-bottom: 0px;
}

.news {
  margin-bottom: 0px;
  &__imgArea {
    order: 2;
  }

  &__textArea {
    order: 1;
  }
}

// **** Service ****

.product {
  &__text {
    width: 90%;
  }
}
.ses {
  &__text {
    width: 90%;
  }
}
.contract {
  &__text {
    width: 90%;
  }
}
.overseas {
  &__text {
    width: 90%;
  }
}

// **** about ****
.top {
  &__wrap {
    height: 450px;
  }
  &__text {
    width: 90%;
    font-size: 1.6rem;
  }
}

.table {
  td,
  th {
    padding: 10px;
    vertical-align: middle;
  }
}

// loadアニメーション
.load {
  &__title {
    margin: 0 auto;
    width: 95%;
    text-align: center;
    font-size: 38px;
    line-height: 3;
  }
}
