.mv {
  &__text {
    font-size: $title600Down;
    width: 95%;
    margin: 0 auto;
  }
}

body {
  font-size: 1.6rem;
}
// headerスタイル
.header__logo {
  width: 110px;
}

.header__nav {
  padding-right: 0px;
}

.header__nav__item {
  padding: 5px;
  margin: 4px;
}
.nav__en {
  font-size: 13px;
}

.nav__ja {
  font-size: 10px;
}

// flexをcolumnに修正
.servi__outer,
.our,
.news {
  flex-direction: column;
}

//タイトル文字調整
.our__title,
.servi__title,
.news__title,
.Service__title,
.product__title,
.ses__title,
.overseas__title,
.contract__title,
.top__title,
.table__title,
.form__title {
  font-size: $subTitle600Down;
}

// **** Home ***
.contents {
  padding: 0px;
}

.our {
  margin-bottom: 0px;
  height: 100%;
  &__imgArea {
    order: 2;
  }

  //絶対配置の打ち消し
  &__textArea {
    order: 1;
    position: static;
  }

  &__text-inner {
    position: static;
  }
}

.servi {
  &__outer {
    margin-bottom: 0px;
    height: 100%;
  }

  //絶対配置の打ち消し
  &__textArea {
    position: static;
  }

  &__text-inner {
    position: static;
  }

  &__company {
    display: none;
  }
}

.news {
  margin-bottom: 0px;
  height: 100%;

  //絶対配置の打ち消し
  &__textArea {
    order: 1;
    position: static;
  }

  &__text-inner {
    position: static;
  }

  &__imgArea {
    order: 2;
  }
}

// **** Service ****

.product {
  &__text {
    width: 90%;
  }
}
.ses {
  &__text {
    width: 90%;
  }
}
.contract {
  &__text {
    width: 90%;
  }
}
.overseas {
  &__text {
    width: 90%;
  }
}

// **** about ****
.top {
  &__wrap {
    height: 450px;
  }
  &__text {
    width: 90%;
    font-size: 1.6rem;
  }
}

.table {
  td,
  th {
    padding: 10px;
    vertical-align: middle;
  }
}

// loadアニメーション
.load {
  &__title {
    margin: 0 auto;
    width: 95%;
    text-align: center;
    font-size: 38px;
    line-height: 3;
  }
}
