$maxWidth: 1080px;
$cWhite: #fff;
$cBlack: #000;
$cBase: #333;
$letterSpace: 2.5px;
$subTitle: 3.5rem;
$subTitle600Down: 2.5rem;

$cBackGround: rgb(131, 131, 131);

.max-width {
  max-width: $maxWidth;
  margin: 0 auto;
}

.mb-lg {
  margin-bottom: 80px;
}

.mb-sm {
  margin-bottom: 30px;
}

.pb-lg {
  padding-bottom: 80px;
}

.pb-sm {
  padding-bottom: 30px;
}

.pt-lg {
  padding-top: 80px;
}

.pt-sm {
  padding-top: 30px;
}
